<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">AWS BackOffice</h5>
      <span class="text-muted">Search Students in a EC2 Instance</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button type="button" class="btn btn-success btn-search" (click)="getAllStudents()"> Search </button>
  </nav>
</div>

<div class="div-table">
  <table class="table">
    <thead class="thead-class">
      <tr>
        <th scope="col" style="text-align: center;">ID</th>
        <th scope="col" style="text-align: center;">Name</th>
        <th scope="col" style="text-align: center;">Last Name</th>
        <th scope="col" style="text-align: center;">Age</th>
        <th scope="col" style="text-align: center;">CPF</th>
        <th scope="col" style="text-align: center;">RG</th>
        <th scope="col" style="text-align: center;">E-Mail</th>
        <th scope="col" style="text-align: center;">R.a.</th>
        <th scope="col" style="text-align: center;">Student Internal Code</th>
        <th scope="col" style="text-align: center;">Criation Date</th>
      </tr>
    </thead>
    <tbody class="tbody-class"> 
      <tr *ngFor="let item of filtred.data; index as i;">
        <td style="text-align: center;">{{item.id_student}}</td>
        <td style="text-align: center;">{{item.first_name}}</td>
        <td style="text-align: center;">{{item.last_name}}</td>
        <td style="text-align: center;">{{item.age}}</td>
        <td style="text-align: center;">{{item.cpf}}</td>
        <td style="text-align: center;">{{item.rg}}</td>
        <td style="text-align: center;">{{item.email}}</td>
        <td style="text-align: center;">{{item.ra}}</td>
        <td style="text-align: center;">{{item.student_internal_code}}</td>
        <td style="text-align: center;">{{item.date_creation}}</td>
      </tr>
    </tbody>
  </table>  
</div>