<div class="div-button-style">
  <button type="button" class="btn btn-success" (click)="getAllStudents()"> Search </button>
</div>

<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">Nome</th>
        <th scope="col" style="text-align: center;">Sobre nome</th>
        <th scope="col" style="text-align: center;">Idade</th>
        <th scope="col" style="text-align: center;">CPF</th>
        <th scope="col" style="text-align: center;">RG</th>
        <th scope="col" style="text-align: center;">Data de Criação</th>
        <!--<th scope="col">UUID</th>-->
      </tr>
    </thead>
      <tr *ngFor="let item of filtred.data; index as i;">
        <td style="text-align: center;">{{item.id_student}}</td>
        <td style="text-align: center;">{{item.first_name}}</td>
        <td style="text-align: center;">{{item.last_name}}</td>
        <td style="text-align: center;">{{item.age}}</td>
        <td style="text-align: center;">{{item.cpf}}</td>
        <td style="text-align: center;">{{item.rg}}</td>
        <td style="text-align: center;">{{item.date_creation}}</td>
        <!-- <td>{{item.token}}</td> -->
      </tr>
  </table>
</div>

<div *ngIf = "wait == true">
  <fa-icon [icon]="spinnerIcon"></fa-icon>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>